<!doctype html> 
<html lang="en"> 
  <head> 
	<!-- Required meta tags --> 
	  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
 
	<!-- Bootstrap CSS --> 
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> 
	<link rel="stylesheet" href="/css/styles2.css">  
 
	<title>My Menu</title> 
  </head> 
  <body> 
	  <!-- bootstrap container --> 
	  <div class="container"> 
		 
		<!-- common header --> 
		<h1 class="display-3">My Menu</h1> 
		<p class="lead"> 
			Sito per gestire e creare menu 
		</p> 
		<hr/> 
 
		{{{body}}} 
		 
		<!-- common footer --> 
		<hr/> 
		<div class="cs-legend-footer">Brought to you by <a href="mailto:kumacod3@proton.me" target="_blank">KumaCod3</a><img src="/images/logo.png" height="20px" class="rounded"/></div> 
	  </div> 
  </body> 
</html>