<div class="container-fluid container-wide">
	<div class="row">
			<button type="button" id="DROPButton" class="btn ricetta-pranzo mb-1">ELIMINA RICETTA</button>

			<h2 class="display-3" id="nomeRicetta">Ciccia fritta</h2>
		<div class="col-md-8">

			<div class="row mb-3">
				<textarea class="form-control input"
						  id="note-display"
						  rows="15"></textarea>
			</div>
			<button id="submitButton" class="btn btn-primary">Salva</button>

		</div>
		<div class="col-md-4">
			<div class="sticky-top-ing pt-4 sidebar-viewport">
				<table id="legendTable" class="table table-bordered table-hover">
					<thead>
					<th>Ingredienti</th>
					</thead>
					<tbody>
						{{#each legends}}
						<tr>
							<td>
								{{this/Ingredienti}}
							</td>
						</tr>
						{{/each}}
					</tbody>
				</table>

				<form id="newRecipeForm">
					<div class="form-group" id="ingredienti-container">
						<label>Ingredienti</label>
						<div class="ingredient-input">
							<input type="text" class="form-control" id="ingrediente-display" list="lista-ingredienti" placeholder="Seleziona o scrivi un ingrediente...">
							<datalist id="lista-ingredienti"></datalist>
						</div>
						<button type="button" id="add-ingrediente" class="btn btn-secondary">Aggiungi Ingrediente</button>
						<input type="hidden" name="Ingredienti" id="Ingredienti">
					</div>


					<div class="row mb-3 d-flex justify-content-between">
						<div class="col-auto">
							<div class="form-check">
								<input type="checkbox" class="form-check-input" name="Temperatura" id="Temperatura1" required>
								<label class="form-check-label" for="Temperatura1">Ricetta Estiva</label>
							</div>
						</div>
						<div class="col-auto">
							<div class="form-check">
								<input type="checkbox" class="form-check-input" name="Temperatura2" id="Temperatura2" required>
								<label class="form-check-label" for="Temperatura2">Ricetta Invernale</label>
							</div>
						</div>
					</div>

					<div class="row mb-3 d-flex justify-content-between">
						<div class="col-auto">
							<div class="form-check">
								<input type="checkbox" class="form-check-input" name="Orario1" id="Orario1" required>
								<label class="form-check-label" for="Orario1">Ricetta di Pranzo</label>
							</div>
						</div>
						<div class="col-auto">
							<div class="form-check">
								<input type="checkbox" class="form-check-input" name="Orario2" id="Orario2" required>
								<label class="form-check-label" for="Orario2">Ricetta di Cena</label>
							</div>
						</div>
					</div>
					<div class="row mb-3 d-flex justify-content-between">
						<div class="col-auto">
							<div class="form-check">
								<input type="checkbox" class="form-check-input" name="inProva" id="inProva" required>
								<label class="form-check-label" for="inProva">In Prova</label>
							</div>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>


<script>

	document.addEventListener("DOMContentLoaded", (event) => {
		populateIngredientsDropdown();

		const displayInput = document.getElementById("ingrediente-display");
		displayInput.addEventListener('input', updateHiddenInput);

		const addIngredienteButton = document.getElementById("add-ingrediente");
		addIngredienteButton.addEventListener("click", addIngrediente);

		const url = window.location.pathname;
		const segments = url.split('/');
		const id = segments.pop();
		_idd = id;
		caricaTavola(id);
		loadTableListeners();
	});
	const noteArea = document.getElementById('note-display');
	var QuestaRicetta = {};
	var nomeRicetta = "";
	var ingredientiMap = {};
	var IngerOldId = [];
	var nota = "s";
	var _idd = "";

	async function populateIngredientsDropdown() {
		try {
			const response = await fetch('/ingred');
			if (response.ok) {
				const ingredienti = await response.json();
				const dataList = document.getElementById("lista-ingredienti");

				ingredienti.forEach(ingrediente => {
					const option = document.createElement("option");
					option.value = ingrediente.Name;
					dataList.appendChild(option);

					ingredientiMap[ingrediente.Name] = ingrediente._id;
				});
			} else {
				console.error("Errore nel caricamento degli ingredienti.");
			}
		} catch (err) {
			console.error(`Errore nel fetch degli ingredienti: ${err}`);
		}
	}

	function addIngrediente() {
		const container = document.getElementById("ingredienti-container");
		const newIngredientInput = document.createElement("div");
		newIngredientInput.classList.add("ingredient-input");

		newIngredientInput.innerHTML =`
										<input type="text" class="form-control" list="lista-ingredienti" placeholder="Seleziona o scrivi un ingrediente...">
										<button type="button" class="btn btn-danger remove-ingrediente">Rimuovi</button>
									`;

		container.appendChild(newIngredientInput);

		newIngredientInput.querySelector(".remove-ingrediente").addEventListener("click", () => {
			container.removeChild(newIngredientInput);
			updateHiddenInput();
		});
	}

	function updateHiddenInput() {
		const hiddenInput = document.getElementById("Ingredienti");
		const ingredientInputs = document.querySelectorAll(".ingredient-input");

		const ingredientValues = Array.from(ingredientInputs).map(input => input.value).filter(val => val);
		hiddenInput.value = ingredientValues.join(",");
	}

	function updateNoteInput(event) {
		nota = event.target.value;
		console.log("Valore attuale di nota:", nota);
		autoResize();
	}
	function autoResize() {
		noteArea.style.height = 'auto';
		noteArea.style.height = (noteArea.scrollHeight) + 'px';
	}

	function loadTableListeners() {
		const rows = document.querySelectorAll("#legendTable tbody tr");
		rows.forEach(row => {
			row.addEventListener("click", async () => {
				const ingreID = row.dataset.id;

				const jsoningreID = { 'Id': ingreID, 'Name': nomeRicetta };
				console.log("clicco: " + ingreID + nomeRicetta);
				try {
					const fetchConfigData = {
						method: "POST",
						body: JSON.stringify(jsoningreID),
						headers: {
							"Content-Type": "application/json"
						}
					};

					const response = await fetch("/DELETEingFROMrec", fetchConfigData);

					if (response.ok) {

						const recipe = await response.json();
						window.location.href = '/ricette';
					} else {
						console.error("Error with the response data");
					}
				} catch (err) {
					console.error(`Error: ${err}`);
				}
			});
		});
	}

	// DROPButton
	document.getElementById("DROPButton").addEventListener("click", async (e) => {
		e.preventDefault();

		try {
			const recipeData = {
				Name: nomeRicetta
			};
			const fetchConfigData = {
				method: "POST",
				body: JSON.stringify(recipeData),
				headers: { "Content-Type": "application/json" }
			};
			console.log("config data: " + fetchConfigData.body);

			const response = await fetch("/DELETERicetta", fetchConfigData);
			if (response.ok) {
				const recipes = await response.json();
				window.location.href = '/ricette';
			} else {
				console.log("Error with the response data");
			}
		} catch (err) {
			console.log(`Error: ${err}`);
		}
	});

	// submitButton
	document.getElementById("submitButton").addEventListener("click", async (e) => {
		e.preventDefault();

		try {
			const Name = nomeRicetta;
			const hiddenInputs = document.querySelectorAll(".ingredient-input input");

			var ingredienti = Array.from(hiddenInputs).map(input => {
				const ingredienteNome = input.value.trim();
				const ingredienteId = ingredientiMap[ingredienteNome];
				return ingredienteId ? ingredienteId : ingredienteNome;
			}).filter(ingrediente => ingrediente);


			IngerOldId.forEach(ingrediente => {
				if (!ingredienti.includes(ingrediente)) {
					ingredienti.push(ingrediente);
				}
			});

			const Temperatura1 = document.getElementById("Temperatura1").checked;
			const Temperatura2 = document.getElementById("Temperatura2").checked;
			const Orario1 = document.getElementById("Orario1").checked;
			const Orario2 = document.getElementById("Orario2").checked;
			const Orario = (Orario1 ? 1 : 0) + (Orario2 ? 2 : 0);
			const Temperatura = (Temperatura1 ? 1 : 0) + (Temperatura2 ? 2 : 0);
			const prova = document.getElementById("inProva").checked;
			const Nota = nota;
			const recipeData = {
				Name: Name,
				Ingredienti: ingredienti,
				Temperatura: Temperatura,
				Orario: Orario,
				Id: _idd,
				Prova: prova,
				Note: Nota
			};

			const fetchConfigData = {
				method: "POST",
				body: JSON.stringify(recipeData),
				headers: { "Content-Type": "application/json" }
			};

			const response = await fetch("/MODricetta", fetchConfigData);
			if (response.ok) {
				const recipes = await response.json();
				caricaTavola(_idd);
			} else {
				console.log("Error with the response data");
			}
		} catch (err) {
			console.log(`Error: ${err}`);
		}
	});

	async function caricaTavola(id) {
		try {
			const ingData = {
				Id: id,
			};
			const fetchConfigData = {
				method: "POST",
				body: JSON.stringify(ingData),
				headers: { "Content-Type": "application/json" }
			};
			const response = await fetch("/NomeRic", fetchConfigData);

			if (response.ok) {
				const recipes = await response.json();
				QuestaRicetta = recipes;
				nomeRicetta = recipes.Name;
				nota = recipes.Note;
				await loadTableWithRecipes(recipes);
				noteArea.value = nota;
				autoResize();
				noteArea.addEventListener('input', updateNoteInput);

			} else {
				console.error("Error with the response data");
			}
		} catch (err) {
			console.error(`Error: ${err}`);
		}
	}

	async function loadTableWithRecipes(recipes) {
		const tableBody = document.querySelector("#legendTable tbody");
		const titolo = document.querySelector("#nomeRicetta");

		tableBody.innerHTML = ""; // Clear the table
		for (const ingredienteID of recipes.Ingredienti) {
			const tr = document.createElement("tr");
			tr.dataset.id = ingredienteID;
			tr.style.cursor = "pointer";
			const nomeIng = await getIngName(ingredienteID);
			const nameTd = document.createElement("td");
			nameTd.textContent = nomeIng;
			tr.appendChild(nameTd);
			IngerOldId.push(ingredienteID);
			tableBody.appendChild(tr);
		}
		titolo.innerHTML = nomeRicetta;
		titolo.classList.remove("cols-red", "cols-black");
		titolo.classList.add(recipes.Prova ? "cols-red" : "cols-black");
		loadTableListeners();
		document.getElementById("newRecipeForm").reset();
		setCheckboxes();
		console.log(JSON.stringify(recipes));
	}

	function setCheckboxes() {
		const tempe = QuestaRicetta.Temperatura;
		const orar = QuestaRicetta.Orario;
		const prova = QuestaRicetta.Prova;
		const ricettaEstiva = (tempe == 1 ? true : false) || (tempe == 3 ? true : false);
		const ricettaInvernale = (tempe == 2 ? true : false) || (tempe == 3 ? true : false);
		const ricettaPranzo = (orar == 1 ? true : false) || (orar == 3 ? true : false);
		const ricettaCena = (orar == 2 ? true : false) || (orar == 3 ? true : false);
		console.log("carica temperatura: " + tempe);
		document.getElementById('Temperatura1').checked = ricettaEstiva;
		document.getElementById('Temperatura2').checked = ricettaInvernale;
		document.getElementById('Orario1').checked = ricettaPranzo;
		document.getElementById('Orario2').checked = ricettaCena;
		document.getElementById('inProva').checked = prova;
	}

	async function getIngName(ingredientId) {
		let nomeIng = "";
		const ingData = {
			Id: ingredientId,
		};
		const fetchConfigData = {
			method: "POST",
			body: JSON.stringify(ingData),
			headers: { "Content-Type": "application/json" }
		};
		const response = await fetch("/NomeIngr", fetchConfigData);
		if (response.ok) {
			const ingrediente = await response.json();
			let nm = 'noName';
			if (ingrediente != null) {
				nomeIng = ingrediente.Name;
			}
		} else {
			console.log("Error with the response data");
		}
		return nomeIng;
	}

</script>
